{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="jumbotron p-5 text-center bg-image rounded-3" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
    width: 100%;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <br>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <br>
        <h1 class="mb-3">Welcome to Nexus!</h1>
        <h4 class="mb-3">Hello, {{ user.username }}! </h4>
        <a class="btn btn-outline-light btn-lg" href="{% url 'create_post' %}" role="button">Write a Post!</a>
        <hr>
      </div>
    </div>
  </div>
</div>

<br><br>

  <div class="featured">
    {% if feature_posts %}

      {% for featured_post in featured_posts %}

        <h1> {{ featured_post.post.title }} </h1>

      {% endfor %}

    {% endif %}
  </div>

  <div class="row">
      
      {% if posts %}
          {% for post in posts %}

            <div class="card text-bg-dark col-md-3 align-center" style="margin: 20px; width: 620px;">
              <div class="card-header">
                <h5><strong> {{ post.title }} </strong></h5>
              </div>
              <div class="card-body">
                <p class="card-title"><strong>Written by {{ post.username }} </strong></p>
                <p class="card-text">Posted on {{ post.created_at }} </p>
                <a href="{% url 'post' post.id %}" class="btn btn-primary">Read this Post...</a>
              </div>
            </div>
            <br>
          {% endfor %}

      {% endif %}

  </div>

{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}