{% extends 'base.html' %}
{% block content %}

<div class="card text-center" style="text-align: center;">
    <div class="card-header">Posted by {{ user_post.username }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ user_post.title }}</h5>
      <p class="card-text">{{ user_post.content }}</p>
    </div>
    <div class="card-footer text-body-secondary">Posted at {{ user_post.created_at }}</div>
  </div>

  <br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br><br>

<div class="comment_form" style="margin-left: 20%; margin-right: 20%; width: 60%;">
  <form method="post" action="">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add Comment</button>
  </form>
</div>

<br><br>

<div class="comments">

  <div class="comment_section">

    {% if comments %}

      {% for comment in comments %}

        <hr>

        <div>
          <h6 class="fw-bold mb-1"> {{ comment.username }} </h6>
          <div class="d-flex align-items-center mb-3">
            <p class="mb-0">
              {{ comment.commented_at }}
            </p>
          </div>
          <p class="mb-0">
              {{ comment.content }}
          </p>
        </div>

        <br>

        <form method="post" action="" class="comment-form">
          {% csrf_token %}
          {{ reply_form.as_p }}
          <input type="hidden" name="parent_comment_id" value="{{ parent_comment_id }}">
          <button type="submit">Add Reply</button>
        </form>

        <br>

        <hr>

      {% endfor %}

    {% endif %}

  </div>

</div>

{% endblock %}